<div class="min-h-screen flex justify-center items-start flex-col w-full lg:flex-row-reverse pt-14 bg-base-200">
    <div class="chat chat-end pr-10">
        <div class="chat-image avatar">
            <div class="w-40 rounded-full">
                <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
        </div>
        <div class="chat-bubble chat-bubble-accent text-2xl">
            <p>1問目</p>
            <p class="text-center text-4xl font-color">色名</p>
            <p class="text-right">を探して！</p>
        </div>
    </div>
    <div class="my-10 px-10">
        <p class="text-center text-2xl">これだ！と思う色をクリック！</p>
        <div>
            <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
    </div>
</div>