<div class="min-h-screen flex justify-center items-center flex-col gap-4 w-full lg:flex-row-reverse pt-14 pb-10 px-10 bg-base-200">
    <div class="chat chat-end flex items-center gap-12 mt-5">
        <div class="chat-bubble chat-bubble text-2xl">
            <p id="quiz_count"></p>
            <p id="color_name" class="text-center text-4xl font-color"></p>
            <p class="text-right">を探して！</p>
        </div>
        <div class="chat-image avatar">
            <div class="w-40 rounded-full">
                <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
        </div>
    </div>
    <div>
        <p class="text-center text-2xl">これだ！と思う色をクリック！</p>
        <canvas id="canvas" width="760" height="570" class="cursor-pointer"></canvas>
    </div>
</div>

<dialog id="my_modal_2" class="modal">
  <div class="modal-box flex items-center flex-col">
    <div class="chat chat-end flex items-center gap-12"> 
        <div class="chat-bubble chat-bubble text-center space-y-4">
            <h3 id="comment" class="text-4xl font-color"></h3>
            <p id="score"class="text-4xl"></p>
        </div>
        <div class="chat-image avatar">
            <div class="w-40 rounded-full">
                <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
        </div>
    </div>
    <div class="modal-action">
        <button id="my_modal_2_btn" class="btn btn-accent font-color text-3xl">次の問題へ</button>
    </div>
  </div>
</dialog>

<%= javascript_include_tag "quiz" %>